<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <div class="container-fluid">

    <div class="lfe">
        <span class="navbar-brand">AngularWebTesting</span>
    </div>
   
    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">แจ้งชำระเงิน</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">ข้อมูลผู้ใช้</a>
        </li>

      </ul>
        

        <form class="d-flex">
        <a class="navbar-brand float-end" href="">
            <img src="/assets/cart.svg" alt="" width="30" height="24">ตะกร้าสินค้า
          </a>
        </form>
    </div>
  </nav>